#logo{

    padding: 0.6% 0 0.6% 20%;

}

/* errors */

.errorSection{

    background: none repeat scroll 0 0 #F6CECE;
    border-radius: 2px;
    color: #DF0101;
    margin: 1%;
    padding: 1%;

}

.errorSection .icon{

    float: left;

}

.errorSection .message{

    float: left;
    padding: 0.3%;

}


/* forms */

#formSection{

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 3% auto 0;
    width: 85%;

}

#formSection a{

    font-weight: normal;

}

.formSectionHeader{

    padding: 5% 0 0 15%;

}

.formSectionHeader h1{

    font-weight: lighter;
    font-size: 24px;
    margin: 0;
    padding-left: 10px;

}

.formSectionMain{

    padding: 2% 15%;
}

.formSectionMain input:focus{

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(38, 241, 145, 0.4);
    border: 1px solid #449960;

}

.formSectionMain button{

    background: linear-gradient(to bottom, #449960 0%, #44F085 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    margin: 0 auto;
    padding: 12px 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    width: 80px;

}

.formSectionFooter{

    background: #f4f4f4;
    padding: 3% 15%;
    font-size: 12px;
    color: #8899A6;

}

.actionGroup{

    font-size: 12px;
    padding: 3% 1%;

}

.actionGroup .inputClassButton{

    float: left;

}

.actionGroup .actions{

    padding: 2%;
    float:left;

}


/* inputs */

.inputClass{

    padding: 1%;

}

.inputClassSelect{

    padding: 1%;
    color: #666;

}

.chooseRole{

    color: rgba(0, 0, 0, 0.4);
    padding: 1%;

}

.normalInput{

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    height: 25px;
    padding-left: 1%;
    width: 280px;

}

.optionInput{

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 25px;
    width: 280px;
    font-size: 16px;
    float: left;
    padding-left: 4%;

}

.selectInput{

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 2%;

}

.textareaInput{

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 60px;
    width: 400px;
    padding-left: 1%;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.label{

    float: left;
    font-size: 12px;
    padding-top: 0.5%;

}


/* wizard */

#wizardSection{

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 10% auto 0;
    width: 60%;

}

#wizardSection a{

    font-weight: normal;

}

.wizardHeader{

    background: none repeat scroll 0 0 #F4F4F4;
    color: #888888;
    padding: 2%;

}

.wizardHeader h1{

    font-weight: lighter;
    font-size: 18px;
    margin: 0;

}

.wizardMain{

    padding: 5% 15%;
}

.wizardMain input:focus{

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(38, 241, 145, 0.4);
    border: 1px solid #449960;

}

.wizardMain button{

    background: linear-gradient(to bottom, #449960 0%, #44F085 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    margin: 0 auto;
    padding: 12px 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    min-width: 80px;

}

.wizardMain .actionGroup{

    padding: 3% 3%;


}

/* file browsers */

.file{

    padding: 1%;
    color: #777;

}

.file .label{

    float: left;
    padding: 1%;

}

.file .choose{

    float: left;

}

