#infoSection{

    margin: 10% auto 0;
    width: 85%;
}

#infoSection .header{

    border-bottom: 1px solid #449960;
    padding: 10px;

}

#infoSection .header h1{

    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #449960;

}

#infoSection .main{

    padding: 3%;
    font-size: 14px;

}

#infoSection .main a{

    font-weight: lighter;

}


#infoSection .main h2{

    font-weight: lighter;
    font-size: 18px;

}

#infoSection .main h3{

    font-size: 16px;
    font-weight: normal;

}

#infoSection .main ul{

    list-style-type: square;

}

#infoSection .main ul li{

    padding: 2px;

}

#infoSection .main span{

    color: #449960;
    font-style: italic;
    font-weight: bold;

}

