{# src/Acatism/AuthenticationBundle/Resources/views/Security/register.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/info.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block title %}

    AcaTisM User Guide

{% endblock %}

    {% block body %}

        {% block header %}

            <div id="header">

                <div id="logo">
                    <a href="{{ path('acatism_main_homepage') }}">  <img src="{{ asset('logo.png') }}" title="AcaTisM" alt="AcaTisM" /></a>
                </div>

            </div>

            <div class="clear"></div>

        {% endblock %}

        {% block main %}
            <div id="maincontainer">

                <div id="infoSection">

                    <div class="header">

                        <h1>User Guide</h1>

                    </div>

                    <div class="main">

                        <article>

                            <h2>What do I need to use AcaTisM ?</h2>

                            In order to use AcaTisM, you must have an account provided by the Faculty of Computer Science from the " Alexandru
                            Ioan Cuza " University from Iasi. If you own such an account, then you can register to AcaTisM with the e-mail associated
                            with the account. After the registration, you'll have to confirm your e-mail an then you will be able to application
                            entirely.

                            <br/><br/>
                            The project was developed using <a href="http://www.symfony.com">Symfony PHP Framework</a> together with programming technologies and languages like:

                            <ul>
                                <li><a href="http://www.mongodb.org/">Mongo DB</a></li>
                                <li><a href="http://twig.sensiolabs.org/"">Twig Template Engine</a></li>
                                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a></li>
                                <li><a href="http://jquery.com/">jQuery</a></li>
                                <li><a href="http://learn.jquery.com/ajax/">AJAX</a></li>
                            </ul>

                        </article>

                    </div>

                    <div class="clear"></div>


                </div>

            </div>
        {% endblock %}

    {% endblock %}

