{# src/Acatism/AuthenticationBundle/Resources/views/Security/register.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/info.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block title %}

    AcaTisM User Guide

{% endblock %}

    {% block body %}

        {% block header %}

            <div id="header">

                <div id="logo">
                    <a href="{{ path('acatism_main_homepage') }}">  <img src="{{ asset('logo.png') }}" title="AcaTisM" alt="AcaTisM" /></a>
                </div>

            </div>

            <div class="clear"></div>

        {% endblock %}

        {% block main %}
            <div id="maincontainer">

                <div id="infoSection">

                    <div class="header">

                        <h1>User Guide</h1>

                    </div>

                    <div class="main">

                        <article>

                            <h2>What do I need to use AcaTisM ?</h2>

                            Using the AcaTisM application services requires an account. This application is especially made for the
                            <a href="http://www.infoiasi.ro">Faculty of Computer Science</a> from the
                            <a href="http://www.uaic.ro">University "Alexandru Ioan Cuza" from Iasi</a>, and in order to register
                            to AcaTisM you must have an account provided by this faculty. You will use the e-mail associated with this account
                            for the registration.

                        </article>

                        <article>

                            <h2>Register</h2>

                            If you match the condition mentioned above, then you can use the e-mail associated with the Computer Science Faculty
                            account for registering
                            to AcaTisM.<br/>

                            You can access the register page either by following the "/register" route or by following the "Sign up now >>" link
                            placed at the bottom of the login section from the <i>Login</i> ( route "/login" ).<br/>

                            After accesing the register page, you will interact with a form which will ask you for the following information:

                            <ul>
                                <li><i>Firstname</i>, which is a required field</li>
                                <li><i>Lastname</i>, which is a required field</i></li>
                                <li><i>E-mail</i>, which is a required field where you must provide your e-mail associated with the account
                                about which is mentioned at the <i>What do I need to use AcaTisM</i> section</li>
                                <li><i>Username</i>, which is a required field that auto completes with the username from the e-mail above,
                                or you can change it on your preference</li>
                                <li><i>Password</i>, which must be at least 5 chars</li>
                                <li><i>Account Type</i>, which lets you choose between a <i>Student</i> account type or a <i>Professor</i> one</li>

                            </ul>

                            After completing the form, hitting the <i>Submit</i> button will process your request, and in case any errors appeared
                            in the form completion, the application will alert you about them. <br/>

                            If your request is processed succesfully, a message will be sent to the e-mail associated with the account in order
                            to confirm the registration. The message will ask you to follow a link, which will confirm the account and redirect
                            you to AcaTisM main page. If you do not confirm the registration, you will not be able to use the account for
                            the next step, the <i>Log In</i>.


                        </article>

                        <article>

                            <h2>Log In</h2>

                            If you have succesfully completed the form associated with the account registration,
                            you will be automatically redirected to the login page, situated at the "/login" route.
                            <br/>
                            This page will alert you in case you haven't confirm your account yet, which is necessary.
                            After confirmation, you can log into the application.

                            <br/>
                            If the log in goes right, here comes the next step, the <i>Profile Info Completion Wizard</i>.


                        </article>

                        <article>

                            <h2>Complete your profile info</h2>

                            Each account registered to AcaTisM

                        </article>



                    </div>

                    <div class="clear"></div>


                </div>

            </div>
        {% endblock %}

    {% endblock %}

