{# src/Acatism/AuthenticationBundle/Resources/views/Security/register.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/info.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block title %}

    AcaTisM User Guide

{% endblock %}

    {% block body %}

        {% block header %}

            <div id="header">

                <div id="logo">
                    <a href="{{ path('acatism_main_homepage') }}">  <img src="{{ asset('logo.png') }}" title="AcaTisM" alt="AcaTisM" /></a>
                </div>

            </div>

            <div class="clear"></div>

        {% endblock %}

        {% block main %}
            <div id="maincontainer">

                <div id="infoSection">

                    <div class="header">

                        <h1>User Guide</h1>

                    </div>

                    <div class="main">

                        <article>

                            <h2>What do I need to use AcaTisM ?</h2>

                            Using the AcaTisM application services requires an account. This application is especially made for the
                            <a href="http://www.infoiasi.ro">Faculty of Computer Science</a> from the
                            <a href="http://www.uaic.ro">University "Alexandru Ioan Cuza" from Iasi</a>, and in order to register
                            to AcaTisM you must have an account provided by this faculty. You will use the e-mail associated with this account
                            for the registration.

                        </article>

                        <article>

                            <h2>Register</h2>

                            If you match the condition mentioned above, then you can use the e-mail associated with the Computer Science Faculty
                            account for registering
                            to AcaTisM.<br/>

                            You can access the register page either by following the "/register" route or by following the "Sign up now >>" link
                            placed at the bottom of the login section from the <i>Login</i> ( route "/login" ).<br/>

                            After accesing the register page, you will interact with a form which will ask you for the following information:

                            <ul>
                                <li><i>Firstname</i>, which is a required field</li>
                                <li><i>Lastname</i>, which is a required field</i></li>
                                <li><i>E-mail</i>, which is a required field where you must provide your e-mail associated with the account
                                about which is mentioned at the <i>What do I need to use AcaTisM</i> section</li>
                                <li><i>Username</i>, which is a required field that auto completes with the username from the e-mail above,
                                or you can change it on your preference</li>
                                <li><i>Password</i>, which must be at least 5 chars</li>
                                <li><i>Account Type</i>, which lets you choose between a <i>Student</i> account type or a <i>Professor</i> one</li>

                            </ul>

                            After completing the form, hitting the <i>Submit</i> button will process your request, and in case any errors appeared
                            in the form completion, the application will alert you about them. <br/>

                            If your request is processed succesfully, a message will be sent to the e-mail associated with the account in order
                            to confirm the registration. The message will ask you to follow a link, which will confirm the account and redirect
                            you to AcaTisM main page. If you do not confirm the registration, you will not be able to use the account for
                            the next step, the <i>Log In</i>.


                        </article>

                        <article>

                            <h2>Log In</h2>

                            If you have succesfully completed the form associated with the account registration,
                            you will be automatically redirected to the login page, situated at the "/login" route.
                            <br/>
                            This page will alert you in case you haven't confirm your account yet, which is necessary.
                            After confirmation, you can log into the application. After the login, each user has to
                            complete a wizard, but before talking about this, let's see something about <i>The idea behind
                            the application</i>.


                        </article>

                        <article>

                            <h2>The idea behind the application</h2>

                            AcaTisM was thought to work like a social-network. Students and professors interact one with each other
                            in order to establish collaborations for thesis developing and coordination. AcaTisM provides an account
                            profile for each person that registers to the application, which means that every student and professor have
                            a personal profile page where they can put information about them. Each personal profile has the following
                            sections:

                            <ul>

                                <li>A top section, called <i>Profile Info Section</i>, which displays information about the user's profile which
                                can be seen by any visitor,
                                sectioned which is divided in three parts: the <i>left part</i> called <i>About</i>, which displays information like University, Faculty,
                                <i>Year of Study, Group, E-mail, Phone and Website</i> for students profiles </li> and <i>University, Faculty, Office,
                                E-mail and Phone</i> for professors profiles; the <i>middle part</i>, which display a <i>profile picture</i> and the <i>Title</i> of the
                                person which owns the profile; <i>the right part</i> called <i>Curriculum Vitae</i> for students and <i>Bibliography</i>
                                for professors, which displays information about computer science knowledge and
                                realisations of the profile owner like: <i>Domains of Interest, Well-known programming languages, Well-known programming techs,
                                Projects and Languages</i> for students and <i>Domains of Interest, Teaching, Main publications,
                                and Languages</i> for professors.

                                <li>A section entitled <i>What's New</i> where users activity can be seen: <i>NewsFeed, Projects, Tasks, Posts, Applications</i>;
                                The activities displaying differs on the visitors of the profile, depending on their status and collaborations.
                                You will find more information about the user's activity and how they interact at the <i>Users and Interaction</i>
                                chapter.
                                </li>


                            Now that we talked a little about the idea behind the application and you know how the applications works,
                            let's what comes next after login on the <i>Profile Info Completion</i> chapter.

                            </ul>

                        </article>

                        <article>

                            <h2>Profile Info Completion</h2>

                            After a user logs in with success, the AcaTisM application will ask him to complete his profile information about
                            which we discussed earlier on the <i>The Idea Behing the Application</i> section. In order to do this, the user
                            will have to navigate trough a wizard which has 3 steps:

                            <ul>

                                <li>
                                A <i>first step</i> on which the user is asked to complete the information for the <i>About</i> section
                                of his profile. The requested info is different depending on the user type, professor or student.
                                </li>

                                <li>
                                A <i>second step</i> on which the user is asked to complete the information for the <i>Curriculum Vitae</i>
                                or <i>Bilbiography</i> section of his profile. The requested info is different depending on the user type,
                                professor or student.
                                </li>

                                <li>
                                A <i>third step</i> which asks the user for uploading his profile files: <i>Profile picture</i> and <i>CV</i> or <i>Bilbiography</i>.
                                </li>

                            </ul>

                            After completing his profile info, the user will be able to use the application entirely and interract
                            with other users in different ways as we will see on the next chapter.



                        </article>



                    </div>

                    <div class="clear"></div>


                </div>

            </div>
        {% endblock %}

    {% endblock %}

