{# src/Acatism/AuthenticationBundle/Resources/views/Security/register.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/info.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block title %}

    AcaTisM User Guide

{% endblock %}

    {% block body %}

        {% block header %}

            <div id="header">

                <div id="logo">
                    <a href="{{ path('acatism_main_homepage') }}">  <img src="{{ asset('logo.png') }}" title="AcaTisM" alt="AcaTisM" /></a>
                </div>

            </div>

            <div class="clear"></div>

        {% endblock %}

        {% block main %}
            <div id="maincontainer">

                <div id="infoSection">

                    <div class="header">

                        <h1>User Guide</h1>

                    </div>

                    <div class="main">

                        <article>

                            <h2>What do I need to use AcaTisM ?</h2>

                            In order to use AcaTisM, you must have an account provided by the Faculty of Computer Science from the " Alexandru
                            Ioan Cuza " University from Iasi. If you own such an account, then you can register to AcaTisM with the e-mail associated
                            with the account. After the registration, you'll have to confirm your e-mail an then you will be able to use your account
                            properly.

                        </article>

                        <article>

                            <h2>Log In</h2>

                            When you will acces the application url, the first page that you will interact with will be the <i>Log In</i> page.
                            In order to use the functionalities provided by AcaTisM you will have to log in with the account that you have created
                            and confirmed

                        </article>


                    </div>

                    <div class="clear"></div>


                </div>

            </div>
        {% endblock %}

    {% endblock %}

